@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
* {
  box-sizing: border-box;
}

body, p, h2 {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7rem;
}

img {
  vertical-align: middle;
}

@media all and (min-width: 376px) and (max-width: 1920px) {
  canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle span {
    width: 22px;
    height: 22px;
    border: 6.5px solid #0210FD;
    border-radius: 100%;
    margin-right: 16px;
  }
  .top {
    font-size: 16px;
    color: rgba(114, 114, 114, 0.69);
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%);
  }
  .bottom {
    font-size: 16px;
    color: rgba(114, 114, 114, 0.69);
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%);
  }
  .close {
    display: none;
    position: absolute;
    top: 7%;
    right: 14%;
    width: 38px;
    height: 38px;
    background-color: rgb(196, 196, 196);
  }
  .close div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .close div span {
    display: inline-block;
    display: flex;
    flex-direction: column;
    width: 22px;
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .close div span:nth-of-type(1) {
    transform: translateY(-100%);
  }
  .close div span:nth-of-type(3) {
    transform: translateY(100%);
  }
  .open {
    position: absolute;
    top: 5%;
    right: 14%;
  }
  .open ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .open ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .open ul li:nth-of-type(2) {
    position: relative;
  }
  .open ul li:nth-of-type(2) div {
    width: 190px;
    position: absolute;
    top: 110%;
    left: -15%;
  }
  .open ul li:nth-of-type(2) div a {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    color: #C0E5FF;
  }
  .open ul li:nth-of-type(2) div a:hover,
.open ul li:nth-of-type(2) div a.active {
    color: #0294FD;
    font-weight: bold;
  }
  .open ul li a {
    margin: 10px;
    color: #B9BDFF;
    font-size: 25px;
  }
  .open ul li a:hover,
.open ul li a.active {
    color: #0210FD;
    font-weight: bold;
  }
  .open ul .box {
    width: 38px;
    height: 38px;
    border: 4px solid rgb(196, 196, 196);
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
  }
  .open ul .box span {
    display: inline-block;
    width: 22px;
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .open ul .box span:nth-of-type(1) {
    transform: translateY(-100%);
  }
  .open ul .box span:nth-of-type(3) {
    transform: translateY(100%);
  }
  .s1 {
    width: 600px;
  }
  .s1 .subh {
    color: #0294FD;
    font-size: 23px;
    font-weight: bold;
    font-family: "Gowun Dodum", sans-serif;
  }
  .s1 p {
    margin-top: 3%;
    white-space: pre-line;
    font-size: 16px;
    font-family: "Gowun Dodum", sans-serif;
    position: relative;
    font-weight: lighter;
  }
  .s1 p:nth-of-type(2)::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
  }
  .s1 p:nth-of-type(2):after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
  }
  .box2 {
    position: absolute;
    position: fixed;
    right: 10%;
    bottom: 10%;
  }
  .box2 p {
    font-size: 55px;
    color: #0210FD;
    font-weight: bold;
  }
  .box2 div {
    position: absolute;
    right: -20%;
    top: -100%;
    width: 80px;
    height: 80px;
    border: 10px solid #000;
  }
  .scroll {
    opacity: 0;
    transform: translateY(50%);
    transition: 1s;
  }
  .scroll.active {
    opacity: 1;
    transform: translateY(0%);
  }
  .box2 div {
    right: -32%;
    top: -111%;
  }
  small {
    display: inline-block;
    right: 0;
    bottom: 35%;
    transform: rotate(90deg);
    font-size: 11px;
    position: fixed;
  }
}
@media all and (max-width: 376px) {
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle span {
    width: 22px;
    height: 22px;
    border: 6.5px solid #0210FD;
    border-radius: 100%;
    margin-right: 16px;
  }
  .top {
    font-size: 10px;
    color: rgba(114, 114, 114, 0.69);
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%);
  }
  .bottom {
    font-size: 10px;
    color: rgba(114, 114, 114, 0.69);
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%);
  }
  .open {
    position: absolute;
    top: 5%;
    right: 10%;
    z-index: 999;
  }
  .open ul {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
  }
  .open ul li:not(:nth-of-type(4)) {
    margin: 8px 0;
  }
  .open ul li a {
    font-size: 15px;
  }
  .open ul li:nth-of-type(1) {
    margin-top: 10px;
  }
  .open ul li:nth-of-type(2) div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-left: 20px;
  }
  .open ul li:nth-of-type(2) div a {
    margin: 8px 0;
    font-size: 14px;
    color: #C0E5FF;
  }
  .open ul li:nth-of-type(2) div a:hover {
    color: #0294FD;
    font-weight: bold;
  }
  .open ul a {
    margin: 10px;
    color: #0210FD;
    font-size: 25px;
    font-weight: bold;
  }
  .open ul a:hover {
    color: #B9BDFF;
  }
  .open ul .box {
    width: 27px;
    height: 27px;
    border: 3px solid rgb(196, 196, 196);
    background-color: rgb(255, 255, 255);
    margin-right: 7px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .open ul .box span {
    display: inline-block;
    width: 13px;
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .open ul .box span:nth-of-type(1) {
    transform: translateY(-100%);
  }
  .open ul .box span:nth-of-type(3) {
    transform: translateY(100%);
  }
  .close {
    display: none;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: rgb(196, 196, 196);
    width: 27px;
    height: 27px;
  }
  .close div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .close div span {
    display: inline-block;
    display: flex;
    flex-direction: column;
    width: 15px;
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .close div span:nth-of-type(1) {
    transform: translateY(-100%);
  }
  .close div span:nth-of-type(3) {
    transform: translateY(100%);
  }
  .s1 .subh {
    color: #0294FD;
    font-size: 22px;
    font-weight: bold;
    font-family: "Gowun Dodum", sans-serif;
  }
  .s1 p {
    margin-top: 3%;
    white-space: pre-line;
    font-size: 11px;
    font-family: "Gowun Dodum", sans-serif;
    position: relative;
    font-weight: lighter;
  }
  .s1 p:nth-of-type(2)::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
  }
  .s1 p:nth-of-type(2):after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
  }
  .box2 {
    position: absolute;
    position: fixed;
    right: 20%;
    bottom: 5%;
  }
  .box2 p {
    font-size: 20px;
    color: #0210FD;
    font-weight: bold;
  }
  .box2 div {
    position: absolute;
    right: -20%;
    bottom: -10%;
    width: 30px;
    height: 30px;
    border: 3px solid #000;
  }
}
@media all and (min-width: 376px) and (max-width: 1920px) {
  .main {
    position: relative;
    height: 1222px;
  }
  .main .m1 {
    position: absolute;
    right: 10%;
    top: 8%;
    overflow: hidden;
  }
  .main .m1 .circle {
    justify-content: flex-end;
  }
  .main .m1 .circle span {
    width: 18.12px;
    height: 18.12px;
    border: 5px solid #0210FD;
    border-radius: 100%;
  }
  .main .m1 .m1-info {
    padding-right: 15px;
    margin-top: 10%;
    text-align: right;
    font-size: 64px;
    color: #0210fd;
    white-space: pre-line;
    font-weight: bold;
    transform: translateY(100%);
    -webkit-animation: ani-1 1s cubic-bezier(0.32, -0.48, 0.69, 1.52) forwards;
            animation: ani-1 1s cubic-bezier(0.32, -0.48, 0.69, 1.52) forwards;
  }
  .main .m1 .m1-info span {
    text-transform: uppercase;
  }
  .main .m1 .m1-info span:nth-of-type(1) {
    color: #0210fd;
    font-size: 90px;
  }
  .main .m1 .m1-info span:nth-of-type(2) {
    font-size: 24px;
    color: #0210fd;
  }
  .main .m1 .m1-info p {
    font-weight: lighter;
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    color: #000;
    padding-top: 9%;
  }
  .main .m1 .m1-info p:nth-of-type(1) {
    font-size: 35px;
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
    padding-top: 40px;
  }
  .main .m1 .m1-info p:nth-of-type(2) {
    font-size: 55px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .main .m1 .m1-info p:nth-of-type(3) {
    font-size: 20px;
    color: #000;
  }
  .main .m2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 16%;
    bottom: 22%;
    width: 400px;
  }
  .main .m2 div {
    margin: 0 33px;
    position: relative;
  }
  .main .m2 div p {
    font-family: "Gowun Dodum", sans-serif !important;
    font-size: 24px;
    padding: 20px 0;
  }
  .main .m2 div p span {
    color: #A5A5A5;
    font-size: 16px;
  }
  .main .m2 div:nth-of-type(2) a p {
    font-weight: bold;
  }
  .main .m2 div:nth-of-type(2) a p:hover {
    color: #0210FD;
  }
  .main .m2 div:nth-of-type(2)::before {
    position: absolute;
    left: -50%;
    content: "";
    display: inline-block;
    border-left: solid 5px #0210FD;
    -webkit-animation: ani-2 2s linear forwards;
            animation: ani-2 2s linear forwards;
  }
  @-webkit-keyframes ani-2 {
    0% {
      height: 0px;
    }
    100% {
      height: 440px;
    }
  }
  @keyframes ani-2 {
    0% {
      height: 0px;
    }
    100% {
      height: 440px;
    }
  }
  .sub1 {
    position: relative;
    height: 1222px;
  }
  .sub1 .open {
    top: 6.5%;
  }
  .sub1 .close {
    top: 8.5%;
    right: 14%;
  }
  .sub1 .s1-c1 {
    position: absolute;
    left: 15%;
    top: 15%;
    margin: 0;
  }
  .sub1 .s1-c1 p:nth-of-type(2)::before {
    left: 0;
    top: 0%;
  }
  .sub1 .s1-c1 p:nth-of-type(2):after {
    left: 0;
    bottom: -20%;
  }
  .sub1 .s1-c2 {
    position: absolute;
    right: 15%;
    top: 37%;
    margin: 0;
    text-align: right;
  }
  .sub1 .s1-c2 p:nth-of-type(2)::before {
    right: 0;
    top: 0%;
  }
  .sub1 .s1-c2 p:nth-of-type(2):after {
    right: 0;
    bottom: -20%;
  }
  .sub1 .s1-c3 {
    position: absolute;
    left: 15%;
    bottom: 18%;
    margin: 0;
  }
  .sub1 .s1-c3 p:nth-of-type(2)::before {
    left: 0;
    top: 0%;
  }
  .sub1 .s1-c3 p:nth-of-type(2):after {
    left: 0;
    bottom: -20%;
  }
  .sub1 .a1 {
    position: absolute;
    left: 35%;
    top: 38%;
  }
  .sub1 .a2 {
    position: absolute;
    right: 15%;
    bottom: 10%;
  }
  .sub3 {
    height: 1222px;
    position: relative;
  }
  .sub3 .top {
    top: -0.5%;
  }
  .sub3 .s3 {
    position: absolute;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-60%, -60%);
  }
  .sub3 .s3::after {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(0%, -50%);
    content: "";
    display: inline-block;
    height: 450px;
    border-left: solid 5px #0210FD;
  }
  .sub3 .s3 p:nth-of-type(2) {
    line-height: 1.5rem;
    font-size: 17px;
  }
  .sub3 .c1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50%, -55%);
  }
  .sub2 {
    position: relative;
  }
  .sub2 .top {
    top: 0.7%;
  }
  .sub2 .bottom {
    bottom: -15%;
  }
  .sub2 .close {
    top: 6.5%;
    right: 14%;
  }
  .sub2 .box2 div {
    right: -32%;
    top: -111%;
  }
  .sub2 small {
    display: inline-block;
    right: 0;
    bottom: 35%;
    transform: rotate(90deg);
    font-size: 11px;
    position: fixed;
  }
  .sub2 .s2 {
    padding-top: 13%;
    margin-left: 15%;
  }
  .sub2 .s2 .ani-1 {
    overflow: hidden;
  }
  .sub2 .s2 .ani-1 div {
    transform: translateY(100%);
    -webkit-animation: ani-1 0.8s cubic-bezier(0.32, -0.48, 0.69, 1.52) forwards;
            animation: ani-1 0.8s cubic-bezier(0.32, -0.48, 0.69, 1.52) forwards;
  }
  @-webkit-keyframes ani-1 {
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes ani-1 {
    100% {
      transform: translateY(0%);
    }
  }
  .sub2 .s2 .s2-1:hover {
    box-shadow: 10px 10px 10px 2.5px rgb(176, 176, 176);
    opacity: 100%;
  }
  .sub2 .s2 .s2-1:hover .s2-text .circle2 span {
    width: 9.8px;
    height: 9.8px;
    border: 3px solid #000000;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 8px;
  }
  .sub2 .s2 .s2-1:hover .s2-text .circle3 {
    width: 51px;
    height: 8px;
    border: 3px solid #000000;
    background-color: #ffffff;
  }
  .sub2 .s2 .s2-1:hover .s2-text .circle4 {
    width: 50.56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub2 .s2 .s2-1:hover .s2-text .circle4 span:nth-of-type(1) {
    width: 36px;
    height: 8px;
    border: 3px solid #000000;
    background-color: #ffffff;
    margin-right: 3px;
  }
  .sub2 .s2 .s2-1:hover .s2-text .circle4 span:nth-of-type(2) {
    width: 9.88px;
    height: 9.88px;
    border: 3px solid #000000;
    background-color: #ffffff;
    border-radius: 100%;
  }
  .sub2 .s2 .s2-1:hover .s2-text .s2-t {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub2 .s2 .s2-1:hover .s2-text .s2-t p:nth-of-type(1) {
    font-size: 30px;
    font-weight: bold;
    color: #0210FD;
  }
  .sub2 .s2 .s2-1:hover .s2-text .s2-t p:nth-of-type(2) {
    font-size: 16px;
    color: #8A8A8A;
    font-weight: bold;
    margin-left: 10px;
  }
  .sub2 .s2 .s2-1:hover .s2-info div p:nth-of-type(1)::before {
    position: absolute;
    left: -18%;
    top: 0%;
    content: "";
    display: inline-block;
    height: 210px;
    border-left: solid 3px #0210FD;
  }
  .sub2 .s2 .s2-1 {
    opacity: 50%;
    margin-bottom: 100px;
    width: 1200px;
    padding-right: 2%;
    padding-bottom: 4%;
  }
  .sub2 .s2 .s2-1 .s2-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .sub2 .s2 .s2-1 .s2-text .circle2 {
    position: absolute;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub2 .s2 .s2-1 .s2-text .circle2 span {
    width: 9.8px;
    height: 9.8px;
    border: 3px solid #0210FD;
    background-color: #0210FD;
    border-radius: 100%;
    margin-right: 8px;
  }
  .sub2 .s2 .s2-1 .s2-text .circle3 {
    width: 51px;
    height: 8px;
    border: 3px solid #0210FD;
    background-color: #0210FD;
  }
  .sub2 .s2 .s2-1 .s2-text .circle4 {
    width: 50.56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub2 .s2 .s2-1 .s2-text .circle4 span:nth-of-type(1) {
    width: 36px;
    height: 8px;
    border: 3px solid #0210FD;
    background-color: #0210FD;
    margin-right: 3px;
  }
  .sub2 .s2 .s2-1 .s2-text .circle4 span:nth-of-type(2) {
    width: 9.88px;
    height: 9.88px;
    border: 3px solid #0210FD;
    background-color: #0210FD;
    border-radius: 100%;
  }
  .sub2 .s2 .s2-1 .s2-text .s2-t {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
  }
  .sub2 .s2 .s2-1 .s2-text .s2-t p:nth-of-type(1) {
    font-size: 30px;
    color: #8A8A8A;
    font-weight: bold;
  }
  .sub2 .s2 .s2-1 .s2-text .s2-t p:nth-of-type(2) {
    font-size: 16px;
    color: #0210FD;
    font-weight: bold;
    margin-left: 10px;
  }
  .sub2 .s2 .s2-1 .s2-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .sub2 .s2 .s2-1 .s2-info p:nth-of-type(1) {
    width: 274px;
  }
  .sub2 .s2 .s2-1 .s2-info p:nth-of-type(1) img {
    width: 100%;
  }
  .sub2 .s2 .s2-1 .s2-info div {
    margin-top: 40px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Noto Sans KR", sans-serif;
  }
  .sub2 .s2 .s2-1 .s2-info div p {
    white-space: pre-line;
    margin-right: -90px;
    font-size: 13px;
    line-height: 1.3rem;
  }
  .sub2 .s2 .s2-1 .s2-info div p:nth-of-type(1) {
    position: relative;
  }
  .sub2 .s2 .s2-1 .s2-info div p:nth-of-type(1)::before {
    position: absolute;
    left: -18%;
    top: 0%;
    content: "";
    display: inline-block;
    height: 210px;
    border-left: solid 3px #000000;
  }
  .sub2 .s2 .s2-2 {
    margin-bottom: 260px;
  }
  .work1 {
    position: relative;
    height: 1222px;
  }
  .work1 .open {
    top: 6.5%;
  }
  .work1 .close {
    top: 8.5%;
    right: 14%;
  }
  .work1 .bottom {
    position: absolute;
    bottom: -99%;
  }
  .work1 .fb {
    padding-right: 160px;
  }
  .work1 .w1 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 70%;
    padding-top: 250px;
  }
  .work1 .w1 .w1-1 .w-t {
    display: flex;
  }
  .work1 .w1 .w1-1 .w-t p:nth-of-type(1) {
    color: #0294FD;
    font-size: 23px;
    font-weight: bold;
    font-family: "Gowun Dodum", sans-serif;
  }
  .work1 .w1 .w1-1 .w-t p:nth-of-type(2) {
    font-size: 16px;
    color: #8A8A8A;
    font-weight: bold;
    margin-left: 10px;
  }
  .work1 .w1 .w1-1 .w1-info {
    margin-top: 15%;
    white-space: pre-line;
    position: relative;
    font-weight: lighter;
    line-height: 1.3rem;
    font-size: 13px;
    font-family: "Noto Sans KR", sans-serif;
  }
  .work1 .w1 .w1-1 .w1-info a {
    color: #0210FD;
  }
  .work1 .w1 .w1-1 .w1-info::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
  }
  .work1 .w1 .w1-1 .w1-info::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
  }
  .work1 .w1 .w1-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -100px;
    width: 75%;
  }
  .work1 .w1 .w1-2 .fb-1 {
    position: relative;
  }
  .work1 .w1 .w1-2 .fb-1::after {
    position: absolute;
    right: -5%;
    bottom: -5%;
    content: "";
    display: inline-block;
    color: #0210FD;
    width: 95px;
    height: 95px;
    border: 7px solid rgba(2, 16, 253, 0.2);
    border-radius: 100%;
  }
  .work1 .w1 .w1-2 .fb-1::before {
    position: absolute;
    right: 2%;
    bottom: 2.5%;
    content: "Tab";
    display: inline-block;
    font-size: 30px;
    font-family: "Black Han Sans", sans-serif;
    color: rgba(2, 16, 253, 0.5);
    text-align: center;
  }
  .work1 .w1 .w1-2 .w3 {
    width: 80%;
  }
  .work1 .w1 .w1-2 .w3 img {
    width: 100%;
  }
  .work1 .w1 .w1-2 .w2 {
    opacity: 40%;
    transform: perspective(1400px) rotateX(60deg);
    position: relative;
    width: 25%;
  }
  .work1 .w1 .w1-2 .w2 img {
    width: 80%;
  }
  .work1 .w1 .w1-2 .w2:hover {
    opacity: 100%;
    transform: rotateX(0deg);
    width: 50%;
  }
  .work1 .w1 .w1-2 .w2:hover img {
    width: 50%;
  }
  .work1 .w1 .w1-2 .w2::after {
    content: "";
    width: 50%;
    height: 30%;
    background-color: rgba(181, 181, 181, 0.4);
    position: absolute;
    left: 2%;
    bottom: 1.5%;
    z-index: -1;
    transform-origin: left bottom;
    transition: 0.5s;
  }
  .work1 .w1 .w1-2 .w2:hover::after {
    transform: skew(-40deg);
  }
  .work1 .w1 .w1-3 {
    margin-bottom: -80px;
  }
  .work1 .detail {
    width: 65%;
    margin: 300px auto;
  }
  .work1 .detail .wd1 {
    margin: 5px auto !important;
  }
  .work1 .detail .wd1 p img {
    width: 50% !important;
  }
  .work1 .detail .wd2 {
    margin: 55px auto !important;
  }
  .work1 .detail .wd2 p {
    width: 100%;
  }
  .work1 .detail .wd2 p img {
    width: 70% !important;
  }
  .work1 .detail .d1 {
    margin: 20px auto 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .work1 .detail .d1 p:nth-of-type(2) {
    position: relative;
    white-space: pre-line;
    font-family: "Noto Sans KR", sans-serif;
    text-align: right;
  }
  .work1 .detail .d1 p:nth-of-type(2)::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
    top: -350%;
    right: 0%;
  }
  .work1 .detail .d1 p:nth-of-type(2)::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
    bottom: -350%;
    right: 0%;
  }
  .work1 .detail .d1 p:nth-of-type(1) {
    width: 50%;
  }
  .work1 .detail .d1 p:nth-of-type(1) img {
    width: 100%;
  }
  .work1 .detail .d2 {
    margin: 200px auto;
    padding-bottom: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .work1 .detail .d2 p:nth-of-type(1) {
    position: relative;
    white-space: pre-line;
    font-family: "Noto Sans KR", sans-serif;
  }
  .work1 .detail .d2 p:nth-of-type(1)::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
    top: -350%;
    left: 0%;
  }
  .work1 .detail .d2 p:nth-of-type(1)::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
    bottom: -350%;
    left: 0%;
  }
  .work1 .detail .d2 p:nth-of-type(2) {
    width: 50%;
  }
  .work1 .detail .d2 p:nth-of-type(2) img {
    width: 100%;
  }
}
@media all and (max-width: 376px) {
  canvas {
    display: none;
  }
  .main {
    position: relative;
    height: 100vh;
  }
  .main .m1 {
    position: absolute;
    right: 10%;
    top: 8%;
    overflow: hidden;
  }
  .main .m1 .circle {
    justify-content: flex-end;
  }
  .main .m1 .circle span {
    width: 6px;
    height: 6px;
    border: 2px solid #0210FD;
    border-radius: 100%;
  }
  .main .m1 .m1-info {
    padding-right: 15px;
    margin-top: 10%;
    text-align: right;
    color: #0210fd;
    white-space: pre-line;
    font-weight: bold;
    transform: translateY(100%);
    -webkit-animation: ani-1 1s cubic-bezier(0.32, -0.48, 0.69, 1.52) forwards;
            animation: ani-1 1s cubic-bezier(0.32, -0.48, 0.69, 1.52) forwards;
  }
  .main .m1 .m1-info span {
    text-transform: uppercase;
  }
  .main .m1 .m1-info span:nth-of-type(1) {
    color: #0210fd;
    font-size: 30px;
  }
  .main .m1 .m1-info span:nth-of-type(2) {
    font-size: 20px;
    color: #0210fd;
  }
  .main .m1 .m1-info p {
    font-weight: lighter;
    font-size: 10px;
    font-family: "Noto Sans KR", sans-serif;
    color: #000;
    padding-top: 9%;
  }
  .main .m1 .m1-info p:nth-of-type(1) {
    font-size: 10px;
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
  }
  .main .m1 .m1-info p:nth-of-type(2) {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .main .m1 .m1-info p:nth-of-type(3) {
    font-size: 13px;
    color: #000;
  }
  .main .m2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 16%;
    bottom: 8%;
  }
  .main .m2 div {
    margin: 0 33px;
    position: relative;
  }
  .main .m2 div p {
    font-family: "Gowun Dodum", sans-serif !important;
    font-size: 18px;
    padding: 20px 0;
  }
  .main .m2 div p span {
    color: #A5A5A5;
    font-size: 10px;
  }
  .main .m2 div:nth-of-type(2) a p {
    font-weight: bold;
  }
  .main .m2 div:nth-of-type(2) a p:hover {
    color: #0210FD;
  }
  .main .m2 div:nth-of-type(2)::before {
    position: absolute;
    left: -30%;
    content: "";
    display: inline-block;
    border-left: solid 2px #0210FD;
    -webkit-animation: ani-2 1s linear forwards;
            animation: ani-2 1s linear forwards;
  }
  @-webkit-keyframes ani-2 {
    0% {
      height: 0px;
    }
    100% {
      height: 200px;
    }
  }
  @keyframes ani-2 {
    0% {
      height: 0px;
    }
    100% {
      height: 200px;
    }
  }
  .sub1 {
    position: relative;
    height: 1222px;
  }
  .sub1 .open {
    top: 6.5%;
  }
  .sub1 .close {
    top: 8.5%;
    right: 14%;
  }
  .sub1 .s1-c1 {
    position: absolute;
    left: 10%;
    top: 15%;
    margin: 0;
  }
  .sub1 .s1-c1 p:nth-of-type(2)::before {
    left: 0;
    top: 0%;
  }
  .sub1 .s1-c1 p:nth-of-type(2):after {
    left: 0;
    bottom: -20%;
  }
  .sub1 .s1-c2 {
    position: absolute;
    right: 10%;
    top: 50%;
    margin: 0;
    text-align: right;
  }
  .sub1 .s1-c2 p:nth-of-type(2)::before {
    right: 0;
    top: 0%;
  }
  .sub1 .s1-c2 p:nth-of-type(2):after {
    right: 0;
    bottom: -20%;
  }
  .sub1 .s1-c3 {
    position: absolute;
    left: 10%;
    bottom: 8%;
    margin: 0;
  }
  .sub1 .s1-c3 p:nth-of-type(2)::before {
    left: 0;
    top: 0%;
  }
  .sub1 .s1-c3 p:nth-of-type(2):after {
    left: 0;
    bottom: -20%;
  }
  .sub1 .a1 {
    position: absolute;
    left: 35%;
    top: 37%;
    width: 180px;
  }
  .sub1 .a1 img {
    width: 100%;
  }
  .sub1 .a2 {
    position: absolute;
    right: 0%;
    bottom: 1%;
    width: 200px;
    opacity: 80%;
  }
  .sub1 .a2 img {
    width: 100%;
  }
  .sub3 {
    height: 100vh;
    position: relative;
  }
  .sub3 .top {
    top: -0.5%;
  }
  .sub3 .bottom {
    bottom: -15%;
  }
  .sub3 .s3 {
    position: absolute;
    left: 10%;
    top: 26%;
    position: relative;
  }
  .sub3 .s3 p:nth-of-type(2) {
    font-size: 14px !important;
  }
  .sub3 .s3 p:nth-of-type(2) {
    line-height: 1.5rem;
    font-size: 17px;
  }
  .sub3 .c1 {
    position: absolute;
    right: 5%;
    bottom: -5%;
    width: 50%;
  }
  .sub3 .c1 img {
    width: 100%;
  }
  .sub2 {
    position: relative;
  }
  .sub2 .top {
    top: 0.7%;
  }
  .sub2 .close {
    top: 6.5%;
    right: 14%;
  }
  .sub2 .box2 div {
    right: -32%;
    top: -111%;
  }
  .sub2 small {
    font-size: 0px;
  }
  .sub2 .s2 {
    padding-top: 13%;
    margin-left: 15%;
  }
  .sub2 .s2 .ani-1 {
    overflow: hidden;
  }
  .sub2 .s2 .ani-1 div {
    transform: translateY(100%);
    -webkit-animation: ani-1 0.8s cubic-bezier(0.32, -0.48, 0.69, 1.52) forwards;
            animation: ani-1 0.8s cubic-bezier(0.32, -0.48, 0.69, 1.52) forwards;
  }
  @-webkit-keyframes ani-1 {
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes ani-1 {
    100% {
      transform: translateY(0%);
    }
  }
  .sub2 .s2 .s2-1:hover {
    box-shadow: 10px 10px 10px 2.5px rgb(176, 176, 176);
    opacity: 100%;
  }
  .sub2 .s2 .s2-1:hover .s2-text .circle2 span {
    width: 9.8px;
    height: 9.8px;
    border: 3px solid #000000;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 8px;
  }
  .sub2 .s2 .s2-1:hover .s2-text .circle3 {
    width: 51px;
    height: 8px;
    border: 3px solid #000000;
    background-color: #ffffff;
  }
  .sub2 .s2 .s2-1:hover .s2-text .circle4 {
    width: 50.56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub2 .s2 .s2-1:hover .s2-text .circle4 span:nth-of-type(1) {
    width: 36px;
    height: 8px;
    border: 3px solid #000000;
    background-color: #ffffff;
    margin-right: 3px;
  }
  .sub2 .s2 .s2-1:hover .s2-text .circle4 span:nth-of-type(2) {
    width: 9.88px;
    height: 9.88px;
    border: 3px solid #000000;
    background-color: #ffffff;
    border-radius: 100%;
  }
  .sub2 .s2 .s2-1:hover .s2-text .s2-t {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub2 .s2 .s2-1:hover .s2-text .s2-t p:nth-of-type(1) {
    font-size: 30px;
    font-weight: bold;
    color: #0210FD;
  }
  .sub2 .s2 .s2-1:hover .s2-text .s2-t p:nth-of-type(2) {
    font-size: 16px;
    color: #8A8A8A;
    font-weight: bold;
    margin-left: 10px;
  }
  .sub2 .s2 .s2-1:hover .s2-info div p:nth-of-type(1)::before {
    position: absolute;
    left: -18%;
    top: 0%;
    content: "";
    display: inline-block;
    height: 210px;
    border-left: solid 3px #0210FD;
  }
  .sub2 .s2 .s2-1 {
    opacity: 50%;
    margin-bottom: 100px;
    width: 300px;
    padding-right: 2%;
    padding-bottom: 4%;
  }
  .sub2 .s2 .s2-1:nth-of-type(1) {
    margin-top: 100px;
  }
  .sub2 .s2 .s2-1 .s2-text {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .sub2 .s2 .s2-1 .s2-text .circle2 {
    position: absolute;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub2 .s2 .s2-1 .s2-text .circle2 span {
    width: 5px;
    height: 5px;
    border: 1px solid #0210FD;
    background-color: #0210FD;
    border-radius: 100%;
    margin-right: 8px;
  }
  .sub2 .s2 .s2-1 .s2-text .circle3 {
    width: 35px;
    height: 2px;
    border: 3px solid #0210FD;
    background-color: #0210FD;
  }
  .sub2 .s2 .s2-1 .s2-text .circle4 {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub2 .s2 .s2-1 .s2-text .circle4 span:nth-of-type(1) {
    width: 30px;
    height: 2px;
    border: 3px solid #0210FD;
    background-color: #0210FD;
    margin-right: 3px;
  }
  .sub2 .s2 .s2-1 .s2-text .circle4 span:nth-of-type(2) {
    width: 5px;
    height: 5px;
    border: 1px solid #0210FD;
    background-color: #0210FD;
    border-radius: 100%;
  }
  .sub2 .s2 .s2-1 .s2-text .s2-t {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
  }
  .sub2 .s2 .s2-1 .s2-text .s2-t p:nth-of-type(1) {
    font-size: 25px;
    color: #8A8A8A;
    font-weight: bold;
  }
  .sub2 .s2 .s2-1 .s2-text .s2-t p:nth-of-type(2) {
    font-size: 17px;
    color: #0210FD;
    font-weight: bold;
    margin-left: 10px;
  }
  .sub2 .s2 .s2-1 .s2-info p:nth-of-type(1) {
    margin-top: 30px;
    width: 274px;
  }
  .sub2 .s2 .s2-1 .s2-info p:nth-of-type(1) img {
    width: 100%;
  }
  .sub2 .s2 .s2-1 .s2-info div {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Noto Sans KR", sans-serif;
    width: 100%;
  }
  .sub2 .s2 .s2-1 .s2-info div p {
    white-space: pre-line;
    font-size: 8px;
    line-height: 1.3rem;
  }
  .sub2 .s2 .s2-1 .s2-info div p:nth-of-type(1) {
    width: 50%;
  }
  .sub2 .s2 .s2-1 .s2-info div p:nth-of-type(2) {
    margin-left: -40px;
    width: 50%;
  }
  .sub2 .s2 .s2-2 {
    margin-bottom: 260px;
  }
  .work1 {
    position: relative;
    height: 100vh;
  }
  .work1 .open {
    top: 6.5%;
  }
  .work1 .close {
    top: 8.5%;
    right: 14%;
  }
  .work1 .bottom {
    position: absolute;
    bottom: -180%;
  }
  .work1 .fb {
    padding-right: 160px;
  }
  .work1 .w1 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 70%;
    padding-top: 250px;
  }
  .work1 .w1 .w1-1 .w-t {
    display: flex;
  }
  .work1 .w1 .w1-1 .w-t p:nth-of-type(1) {
    color: #0294FD;
    font-size: 18px;
    font-weight: bold;
    font-family: "Gowun Dodum", sans-serif;
  }
  .work1 .w1 .w1-1 .w-t p:nth-of-type(2) {
    font-size: 16px;
    color: #8A8A8A;
    font-weight: bold;
    margin-left: 10px;
  }
  .work1 .w1 .w1-1 .w1-info {
    margin-top: 15%;
    white-space: pre-line;
    position: relative;
    font-weight: lighter;
    line-height: 1.3rem;
    font-size: 12px;
    font-family: "Noto Sans KR", sans-serif;
  }
  .work1 .w1 .w1-1 .w1-info a {
    color: #0210FD;
  }
  .work1 .w1 .w1-1 .w1-info::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
  }
  .work1 .w1 .w1-1 .w1-info::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
  }
  .work1 .w1 .w1-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -100px;
    width: 75%;
    display: none;
  }
  .work1 .w1 .w1-2 .fb-1 {
    position: relative;
  }
  .work1 .w1 .w1-2 .fb-1::after {
    position: absolute;
    right: -5%;
    bottom: -5%;
    content: "";
    display: inline-block;
    color: #0210FD;
    width: 95px;
    height: 95px;
    border: 7px solid rgba(2, 16, 253, 0.2);
    border-radius: 100%;
  }
  .work1 .w1 .w1-2 .fb-1::before {
    position: absolute;
    right: 2%;
    bottom: 2.5%;
    content: "Tab";
    display: inline-block;
    font-size: 30px;
    font-family: "Black Han Sans", sans-serif;
    color: rgba(2, 16, 253, 0.5);
    text-align: center;
  }
  .work1 .w1 .w1-2 .w3 {
    width: 80%;
  }
  .work1 .w1 .w1-2 .w3 img {
    width: 100%;
  }
  .work1 .w1 .w1-2 .w2 {
    opacity: 40%;
    transform: perspective(1400px) rotateX(60deg);
    position: relative;
    width: 25%;
  }
  .work1 .w1 .w1-2 .w2 img {
    width: 80%;
  }
  .work1 .w1 .w1-2 .w2:hover {
    opacity: 100%;
    transform: rotateX(0deg);
    width: 50%;
  }
  .work1 .w1 .w1-2 .w2:hover img {
    width: 50%;
  }
  .work1 .w1 .w1-2 .w2::after {
    content: "";
    width: 50%;
    height: 30%;
    background-color: rgba(181, 181, 181, 0.4);
    position: absolute;
    left: 2%;
    bottom: 1.5%;
    z-index: -1;
    transform-origin: left bottom;
    transition: 0.5s;
  }
  .work1 .w1 .w1-2 .w2:hover::after {
    transform: skew(-40deg);
  }
  .work1 .w1 .w1-3 {
    margin-bottom: -80px;
  }
  .work1 .detail {
    width: 80%;
    margin: 250px auto;
  }
  .work1 .detail .wd1 {
    margin: 5px auto !important;
  }
  .work1 .detail .wd1 p img {
    width: 50% !important;
  }
  .work1 .detail .wd2 {
    margin: 200px auto !important;
  }
  .work1 .detail .wd2 p {
    width: 100%;
  }
  .work1 .detail .wd2 p img {
    width: 70% !important;
  }
  .work1 .detail .d1 {
    margin: 100px auto 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .work1 .detail .d1 p:nth-of-type(2) {
    position: relative;
    white-space: pre-line;
    font-family: "Noto Sans KR", sans-serif;
    text-align: right;
  }
  .work1 .detail .d1 p:nth-of-type(2)::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
    top: -100%;
    right: 0%;
  }
  .work1 .detail .d1 p:nth-of-type(2)::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
    bottom: -100px;
    right: 0%;
  }
  .work1 .detail .d1 p:nth-of-type(1) {
    width: 100%;
  }
  .work1 .detail .d1 p:nth-of-type(1) img {
    width: 100%;
  }
  .work1 .detail .d2 {
    margin: 200px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .work1 .detail .d2 p:nth-of-type(1) {
    position: relative;
    white-space: pre-line;
    font-family: "Noto Sans KR", sans-serif;
  }
  .work1 .detail .d2 p:nth-of-type(1)::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
    top: -150%;
    left: 0%;
  }
  .work1 .detail .d2 p:nth-of-type(1)::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #0294FD;
    position: absolute;
    bottom: -150%;
    left: 0%;
  }
  .work1 .detail .d2 p:nth-of-type(2) {
    width: 80%;
  }
  .work1 .detail .d2 p:nth-of-type(2) img {
    float: right;
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */